<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Braintree Integration</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://js.braintreegateway.com/web/dropin/1.38.1/js/dropin.min.js"></script>
    <script src="https://js.braintreegateway.com/web/3.96.0/js/client.min.js"></script>
    <script src="https://js.braintreegateway.com/web/3.96.0/js/apple-pay.min.js"></script>
    <script src="https://pay.google.com/gp/p/js/pay.js"></script>
    <script src="/scripts/paypal.js"></script>
</head>
<body>
    <form id="payment-form">
        <div id="dropin-container"></div>
        <div id="paypal-button"></div>
        <input id="submit-button" type="submit" value="Purchase"/>
    </form>

    <script src="/scripts/dropin.js"></script>
</body>
</html>